@import "tailwindcss";

@import "./styles/variables.css";
@import "./styles/global.css";

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-brand-bg: var(--background);
  --color-brand-text: var(--text);
  --radius-brand: var(--radius);
  --shadow-brand: var(--shadow);
}